@model List<BookingSystem.BLL.ViewModels.Branch>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="branch-container" style="padding:2% 0;background-color:#EEE">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="headertitle" style="text-align:center">
                    <h3 class="h3head" style="color:orange">Choose the suitable  branch for you</h3>
                    <p class="phead">
                        We live for vacationers and travelers who love a good deal, fun, and adventure
                    </p>
                </div>
            </div>
            <br />
            @foreach (var i in Model)
            {
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="~/images/hotel.jpg" alt="Card image cap">
                        <div class="card-body" style="text-align:center">
                            <h5 class="card-title">@i.Name</h5>
                            <p class="card-text">@i.ShortDescription</p>
                            <a asp-action="Index" asp-controller="Room" asp-route-id="@i.Id" class="btn btn-primary" style="background-color:orange;color:#fff">Select</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


