@{
    ViewData["Title"] = "Home Page";
}

<!-- Cover Home Page ----------------------------------------------------->
<section class="cover-sec">
    <div class="cover">
        <div class="cover-container">
            <h1 class="cover-h1"><span class="online">Initium</span> Hotel</h1>
            <h3 class="cover-h3">Book your stay with us, and you’ll be happy to come back.</h3>
            <a asp-controller="Branch" asp-action="Index" class="try-btn product-link" id="book-btn">Book Now</a>


        </div>

    </div>
</section>
<!--<div id="branch-container" style="padding:2% 0;background-color:#EEE">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="headertitle" style="text-align:center">
                    <h3 class="h3head" style="color:orange">Choose the suitable  branch for you</h3>
                    <p class="phead">
                        We live for vacationers and travelers who love a good deal, fun, and adventure
                    </p>
                </div>
            </div>
            <br />-->
            @*@foreach (var i in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="~/images/hotel.jpg" alt="Card image cap">
                    <div class="card-body" style="text-align:center">
                        <h5 class="card-title">@i.Name</h5>
                        <p class="card-text">@i.ShortDescription</p>
                        <a asp-action="Index" asp-controller="Branch" asp-route-id="@i.Id" class="btn btn-primary"style="background-color:orange;color:#fff">Select</a>
                    </div>
                </div>
            </div>
        }*@
            <!--<div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="~/images/hotel.jpg" alt="Card image cap">
                    <div class="card-body" style="text-align:center">
                        <h5 class="card-title">Cairo</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="~/images/hotel.jpg" alt="Card image cap">
                    <div class="card-body" style="text-align:center">
                        <h5 class="card-title">Cairo</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="~/images/hotel.jpg" alt="Card image cap">
                    <div class="card-body" style="text-align:center">
                        <h5 class="card-title">Cairo</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>-->
<!-- End Cover Home Page----------------------------------------------------->
